@media screen and (max-width:800px) {
    .tinynav {		
        background:#63c3d1;		
    }	
}
body.boxed div.body {

}
.testimonial-name, .service-box.black .circleicon i, .service-box.featured .circleicon i, .service-box:hover i, .footerlogo47, .primarycolor, a, a:hover {
    color:#4cc3be;
}
.cameraContents .camera_caption span, .popular .vuzz-button.buttonprice, .popular .vuzz-button, .popular .vuzz-pricing-per, .popular .vuzz-pricing-cost, .captionicons, a.tagcloud:hover,.tagcloud a:hover, .service-box.featured , .service-box:hover, #skill i, article .day, .totop, .totop:hover, .primarybg {
    background:#4cc3be;
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover,.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {	
    background-color:white;
    color:#787C81;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:#4cc3be;	
}
#search a {	
    background:#F86D18 url(../img/part-btn-search.png) no-repeat center center;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {	
    background-color:#4cc3be;
}
.footerdark h1 {	
    border-bottom:1px solid #F86D18;
}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white {
    background-color:#4cc3be;	
}
a.prev,a.next {
    background:url(../img/carousel_arrows.png) no-repeat #F86D18;
}
a.next {
    background-position:-22px 0
}
.btn-primary {
    background-color:#787C81;
}
.panel,.panel1 {
    border-left:8px solid #F86D18;
}

.vuzz-pricing-table>div.popular {
    border-top:#F86D18 3px solid;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="caption"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.separator {
    line-height: 0.5;
    text-align: center;
    margin:10px 0 10px 0;
}
.separator span {
    display: inline-block;
    position: relative;

}
.separator span:before,
.separator span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #b4b4b4;
    top: 5px;
    width: 300px;

}
.separator span:before {
    right: 100%;
    margin-right: 30px;
}
.separator span:after {
    left: 100%;
    margin-left: 30px;
}

.separator span  i{
    font-size:6px;
    padding:0;
    margin:0;
    float:none;
    color: rgb(196, 196, 196);
}

::selection {background:black;color:#fff;}

#filter ul li .selected {
    color: #787C81 !Important;
}

.cnavbar .cnav>li>a:focus,.cnavbar .cnav>li>a:hover,.cnavbar .cnav>.active>a,.cnavbar .cnav>.active>a:hover,.cnavbar .cnav>.active>a:focus {	
    background-color:white;
    color:#787C81;
}

.cnavbar .cnav li.dropdown.open>.dropdown-toggle,.cnavbar .cnav li.dropdown.active>.dropdown-toggle,.cnavbar .cnav li.dropdown.open.active>.dropdown-toggle {
    background-color:#4cc3be;	
}

.container,.cnavbar-static-top .container,.cnavbar-fixed-top .container,.cnavbar-fixed-bottom .container {
    max-width:970px;
}

.row-cnav {
    margin-bottom:20px;
    margin-top:20px;
    background:#222;
    max-height:50px;
    border-radius:0;
}

.cnavbar {
    border:0;
}

.cnavbar-inner {
    border:0;
    padding-left:0;
    padding-right:0;
}

.cnavbar cnav>li>a,.cnavbar .cnav>li>a:focus,.cnavbar .cnav>li>a:hover {
    color:#fff;
    padding:0px 15px 0px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.cnavbar .divider-vertical {
    margin:0;
    height:50px;
    margin-bottom:-20px;
    padding:0;
    margin-left:-4px;
    margin-right:-4px;
}

.cnavbar .cnav>li {
    /*    background:#f5f5f5; FIX*/
    display:inline-block;
    border-radius:3px;
    margin-right:15px;
    padding:0px 15px 0px;
    margin-bottom:0px;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.cnavbar .cnav>li>a:focus,.cnavbar .cnav>li>a:hover,.cnavbar .cnav>.active>a,.cnavbar .cnav>.active>a:hover,.cnavbar .cnav>.active>a:focus {
    color:#4cc3be;
    text-decoration:none;
    /*    background-color:#f5f5f5; FIX*/
}

.cnavbar .cnav>li>a {
    height:50px;
    line-height:0px;
    color:#4cc3be
}
.cnavbar .cnav {
    margin:0;
    float:none;
    text-align: center;
    background:white;
    width:100%;
}

.cnavbar .cnav li.dropdown.open>.dropdown-toggle,.cnavbar .cnav li.dropdown.active>.dropdown-toggle,.cnavbar .cnav li.dropdown.open.active>.dropdown-toggle {
    background-color:#e7402f;
    color:#fff;
}

.cnavbar .cnav .dropdown-toggle .caret {
    margin-top:0;
}

.cnavbar .cnav li.dropdown>.dropdown-toggle .caret,.cnavbar .cnav li.dropdown>a:hover .caret,.cnavbar .cnav li.dropdown>a:focus .caret:hover,.cnavbar .cnav li.dropdown.open>.dropdown-toggle .caret,.cnavbar .cnav li.dropdown.active>.dropdown-toggle .caret,.cnavbar .cnav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color:#fff;
    border-bottom-color:#fff;
    
}

.cnavbar .cnav>li>.dropdown-menu:before {
    border-bottom:7px solid transparent;
}

.cnavbar .cnav>li>.dropdown-menu:after {
    border-bottom:6px solid transparent;
}

.cnavbar .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {	
    background-color:#f5f5f5;
    color:#4cc3be;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.cnavbar .dropdown-menu {
    border:0px;
    background-color:#f5f5f5;
    border-radius:0;
    font-size:15px;
}

.cnavbar .dropdown-menu>li>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    color:#4cc3be;
    /*	border-top:1px solid #2f2f2f;
            border-bottom:1px solid #111;*/
    padding:10px 20px;
}

.cnavbar .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    background-color:#f5f5f5;
    color:#4cc3be;
}

.cnavbar .dropdown-menu {
    padding:0px;
    margin-left:-1px;
    margin-top:0px;
}

.cnavbar .dropdown-menu li:last-child a {
    border-bottom:0;
}


/* Contact form start */
#simpleForm .icon-ok {
    font-size: 25px;
    margin: 5px;
    color: #4cc3be;
}
#simpleForm .icon-remove {
    font-size: 15px;
    margin: 10px;
    color: #a94442;
}
div#messages {
    padding: 25px;
}
.has-success .form-control {
    border-color: #4cc3be;
}
.has-success .form-control:focus {
    border-color: #68A4C4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #4cc3be;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #4cc3be;
}
.has-error .form-control {
    border-color: #a94442; 
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
textarea.form-control {
    height: auto;
    font-size: 12px;
}
/* Contact form end */

.img-rounded {
    border-radius: 0px;
}