/* =========================================================== */
/* 	Biscaya HTML Template
        v2.0
        Author:WowThemes.net 
/* ============================================================== */
*.focus,*.active.focus,*.active:focus,*.active.focus,*.active:focus,*:focus,*:active {
    outline:0;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
img {
    max-width:100%;
}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
    max-width:970px;
}
body.boxed {
    background:#ffffff;
    background-attachment:fixed;
    background-position:49% 50%;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:relative;
    padding:40px 0 50px;
}
body.boxed div.body {
    -moz-box-shadow:0 0 14px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 0 14px rgba(0,0,0,0.15);
    box-shadow:0 0 14px rgba(0,0,0,0.15);
    background-color:#FFFFFF;
    margin:0px auto;
    max-width:100%;
    width:1040px;
    font-family:'open_sansregular';
    font-size:15px;
    color:#888;
    line-height:24px;
    z-index:0;
    position:relative;
}
.overlaybg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url(../img/bg/pattern.png) repeat;
    background-attachment:fixed;
    z-index: 0;
}
/* OPEN SANS FONT */
@font-face {
    font-family:'open_sansregular';
    src:url('fonts/OpenSans-Regular-webfont.eot');
    src:url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans-Regular-webfont.woff') format('woff'),url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'open_sanslight';
    src:url('fonts/OpenSans-Light-webfont.eot');
    src:url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans-Light-webfont.woff') format('woff'),url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'open_sansbold';
    src:url('fonts/OpenSans-Bold-webfont.eot');
    src:url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans-Bold-webfont.woff') format('woff'),url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight:normal;
    font-style: normal;
}
/* PACIFICO FONT */
@font-face {
    font-family:'PacificoRegular';
    src:url('fonts/Pacifico-webfont.eot');
    src:url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/Pacifico-webfont.woff') format('woff'),url('fonts/Pacifico-webfont.ttf') format('truetype'),url('fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
img {
    border:0px;
}
a {
    color:#e7402f;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
a:hover {
    color:#e7402f;
    text-decoration:none;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
h1,h2,h3,h4,h5,h6 {
    color:#787C81;
}
li {
    line-height:inherit;
}
.primarycolor {
    color:#e7402f;
}
.primarybg {
    background:#e7402f;
}
.lead {
    margin-bottom:10px;
    font-family:open_sanslight;
    font-size: 15px;
}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
    font-family:open_sansregular;
    font-size:12px;
    border:1px solid #eee;
    padding:10px;
    margin-bottom:15px;
    width: 100%;
}
input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"],.row input[class*="span"],.row select[class*="span"],.row textarea[class*="span"],.row .uneditable-input[class*="span"] {
    border-radius:3px;
}
h1.small {
    font-size:20px;
}
.graysection {
    margin-left:-50px;
    margin-right:-50px;
    padding-left:50px;
    padding-right:50px;
    border-top:1px solid #f3f3f3;
    border-bottom:1px solid #f3f3f3;
    padding-bottom:25px;
    padding-top:25px;
    overflow:hidden;
    margin-top:30px;
    margin-bottom:30px;
    background:#f9f9f9;
}

.whitesection {
    margin-left:-50px;
    margin-right:-50px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:25px;
    padding-top:25px;
    overflow:hidden;
    margin-top:30px;
    margin-bottom:30px;
    background:#white;
}

.intro h1 {
    font-family:open_sansbold;
    font-size:20px;
}
.graysection .lead {
    color:#444;
}
.page-header {
    margin:0px;
    padding:0;
    border:0px;
}
.page-header h1 {
    font-size:22px;
    line-height:28px;
    font-family:open_sansbold;
    padding-bottom:10px;
    margin-top:-10px;
    text-transform:uppercase;
}
.headerdivider {
    background:url(../img/dots.gif) repeat;
    height:7px;
    margin-bottom:20px;
    opacity:0.4;
}
.slidershadow {
    margin-top:-30px;
}
.slidershadowcam {
    margin-top:-40px;
}
.img-circle {
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    border-radius:500px;
    border:4px solid #fff;
}
.break {
    height:40px;
}
.borderpic {
    padding:5px;
    border:1px solid #eee;
}
.bgtitle {
    background:#f5f5f5;
    margin-top:-20px;
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    margin-bottom:30px;
    border-bottom:1px solid #eee;
}
.inneritem {
    padding:10px;
    border:#f1f1f1 1px solid;
}
.hero-unit h1 {
    font-size:30px;
    line-height:1.2;
    color:inherit;
    letter-spacing:-1px;
    margin-bottom:10px;
    color:#333;
}
.hero-unit {
    padding:30px 30px;
    margin-bottom:30px;
    font-size:18px;
    font-weight:200;
    line-height:30px;
    color:inherit;
    background-color:#fdfdfd;
    border:1px dashed #ccc;
    font-family:open_sanslight;
}
ul.icons-ul {
    text-indent:0em;
}
.paddingright {
    padding-right:20px;
}
.paddingleft {
    padding-left:20px;
}
iframe {
    border: 0px;
}
/*================================================== * TinyNav* ===============================================*/
.tinynav {
    display:none
}
#nav .selected a {
}
@media screen and (max-width:800px) {
    .tinynav {
        display:block;
        background:#e7402f;
        border:0px;
        width:100%;
        color:#fff;
        height:50px;
        padding-left:20px;
    }
    #nav {
        display: none
    }
}
/* =========================================================== */
/* Header /* ============================================================== */
header {
    padding:0;
    z-index:50;
}
.row-nav {
    margin-bottom:20px;
    margin-top:20px;
    background:#222;
    max-height:50px;
    border-radius:0;
}
.navbar {
    border:0;
}
.navbar-inner {
    border:0;
    padding-left:0;
    padding-right:0;
}
.navbar .nav>li>a,.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
    color:#fff;
    padding:0px 20px 0px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.navbar .divider-vertical {
    /*	border-left:1px solid #444;
            border-right:1px solid #000;*/
    margin:0;
    height:50px;
    margin-bottom:-20px;
    padding:0;
    margin-left:-4px;
    margin-right:-4px;
}
.navbar .nav>li {
    display:inline-block;
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover,.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
    color:#fff;
    text-decoration:none;
    background-color:#e7402f;
}
.navbar .nav>li>a {
    height:50px;
    line-height:50px;
    color:#4cc3be
}
.navbar .nav {
    margin:0;
    float:none;
    text-align: center;
    background:white;
    width:100%;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:#e7402f;
    color:#fff;
}
.brandlogo {
    float:left;
    font-size:0px;
    font-weight:0;
    margin:36px 0 0;
    padding:0;
    text-shadow:none;
    display:inline-block;
}
.topinfo {
    overflow:hidden;
    text-align:right;
}
.list-soc {
    overflow:hidden;
    margin-bottom:5px;
    margin-top:25px;
}
.list-soc li {
    float:right;
    margin-left:3px;
}
.list-soc li a {
    opacity:1;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
.infophone {
    text-align:right;
    font-size:16px;
    line-height:26px;
    color:#333333;
    text-transform:uppercase;
    padding-bottom:4px;
}
.infoaddress {
    text-align:right;
    color:#333;
    font-size:12px;
    line-height:16px;
    text-transform:uppercase;
}
#search {
    margin:-50px 0 0 0;
    overflow:hidden;
    position:relative;
    float:right;
    padding:0;
}
#search input {
    background:#222;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    color:#777;
    margin:0;
    padding:0 30px 0 0;
    height:50px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    font-size:12px;
    font-style:italic;
}
#search input:focus {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#search a {
    display:inline-block;
    float:left;
    background:#e7402f url(../img/part-btn-search.png) no-repeat center center;
    width:50px;
    height:50px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.navbar .nav .dropdown-toggle .caret {
    margin-top:0;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret,.navbar .nav li.dropdown>a:hover .caret,.navbar .nav li.dropdown>a:focus .caret:hover,.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color:#fff;
    border-bottom-color:#fff;
}
.dropdown-menu {
    border:0px;
    background-color:transparent;
    border-radius:0;
    font-size:15px;
}
.navbar .nav>li>.dropdown-menu:before {
    border-bottom:7px solid transparent;
}
.navbar .nav>li>.dropdown-menu:after {
    border-bottom:6px solid transparent;
}
.dropdown-menu>li>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    color:#4cc3be;
    /*	border-top:1px solid #2f2f2f;
            border-bottom:1px solid #111;*/
    padding:10px 20px;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    background-color:#e7402f;
    color:#fff;
}
.dropdown-menu {
    padding:0px;
    margin-left:-1px;
    margin-top:0px;
}
.dropdown-menu li:last-child a {
    border-bottom:0;
}
ul.social-icons li {
    display:inline-block;
    float:none;
    padding:13px;
    width:0;
    height:0;
    position:relative;
    background-color:#333;
}
ul.social-icons li i {
    position:absolute;
    font-size:14px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-10px;
}
ul.social-icons li a {
    color:#fff;
}
ul.social-icons li a i {
    -webkit-transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    transition-duration:0.8s;
    -webkit-transition-property:-webkit-transform;
    -moz-transition-property:-moz-transform;
    -o-transition-property:-o-transform;
    transition-property:transform;
    overflow:hidden;
}
ul.social-icons li a i:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
ul.social-icons li a:hover {
    text-decoration:none;
    color: #fff;
}
/* =========================================================== */
/* Footer /* ============================================================== */
.footer a {
    color:#fff;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
ul.footermenu li a:hover,.footer a:hover {
    opacity:0.7;
}
.footer {
    padding-top:30px;
    padding-bottom:30px;
    color:#fff;
    margin-top:60px;
}
.footer.btn {
    background:#fff;
    color:#333!important;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.footer.btn:hover {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.footer hr {
    border-top:1px solid #000;
    border-bottom:1px solid #222;
}
.footer ul.social-links li {
    background:#222;
    margin-right:0px;
    margin-left:10px;
}
.smaller {
    font-size:80%;
}
.fontarial {
    font-family:arial;
}
.copyright {
    font-family:Arial;
}
.footerlogo {
    font-family:PacificoRegular;
    font-size:22px;
}
.footerlogo47 {
    background:#fff;
    color:#e7402f;
    display:inline;
    padding:10px;
    font-size:22px;
    border-radius:50%;
}
.footer h1 {
    color:#fff;
    text-transform:uppercase;
    font-size:17px;
    border-bottom:1px solid #fff;
    display:inline;
    padding-bottom:14px;
}
.footer hr {
    border-top:0;
    border-bottom:1px solid #eee;
    margin-top:14px;
}
.footer {
    font-size:13px;
}
.footerbottom {
    color:#fff;
    line-height:0.0;
    background:#787C81;
    border-top:1px solid #787C81;
}
.footerbottom a {
    color:#fff;
}
ul.footermenu {
    list-style:none;
}
ul.footermenu li {
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    text-transform:uppercase;
    line-height:2.5;
}
ul.footermenu li a {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.footermenu li:before {
    content:'|';
    color:#777;
    display:inline-block;
    margin-right:7px;
}
.footermenu li:nth-child(1):before {
    display:none;
}
.footerdark {
    background:#222;
    color:#ccc;
    margin-top:65px;
    line-height:1.6;
}
.footerdark .footerlogo {
    color:#fff;
}
.footerdark h1 {
    color:#eee;
    border-bottom:1px solid #e7402f;
}
.footerdark hr {
    border-top:0;
    border-bottom:1px solid #555;
}
.footerdark hr {
    border-bottom:1px solid #333;
}
.footerdark .totop,.footerdark .totop:hover {
    background-image:none;
}
.footerdark input,.footerdark textarea,.footerdark input[type="text"] {
    background:#222;
    border:1px solid #333;
    padding:10px;
    margin-bottom:15px;
}
.footerdark .btn {
    text-shadow:none;
    padding:8px 10px;
    font-size:13px;
    color:#ccc;
    border-radius:0;
}
.footerdark .btn:hover {
    background:#3f3f3f;
    box-shadow:none;
    color:#fff;
    border:1px solid #3f3f3f;
}
.wraptotop {
    margin-top:-30px;
    /*	padding-bottom:25px;*/
}
.totop {
    border:2px solid #fff;
    color:#fff !Important;
    background:#e7402f;
    border-radius:100%;
    display:inline-block;
    padding:16px 20px;
    color:#fff;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.totop:hover {
    cursor:pointer;
    background:#e7402f;
    color:#fff;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.smallspacetop {
    margin-top:7px;
    padding-top:5px;
    padding-bottom:5px;
}
.footermintitle {
    color:#fff;
    font-weight:200;
}
#quotes {
    margin:0;
    position:relative;
}
.textItem {
    position:absolute;
    display: none;
}
.avatar {
    /* selector for avatar class*/
    float:left;
    background:#fff;
    width:34px;
    height:34px;
    padding:5px;
    border:1px solid #eee;
    border-radius:50%;
    box-shadow:0px 1px 1px 1px #fff /* across displacement,vertical displacement,smearing,increase and color */;
    margin-right:10px;
}
.avatar img {
    /* selector for a picture which is "inside" the avatar class */
    display:block;
    /* a picture is being displayed as a block,by a width it will be equal to the parent(in the div) */
    width:100%;
    /* width 100% */
    border:0;
    /* zero border */
    margin:0;
    /* external margin is lacking */
    border-radius:50%;
    /* read above */
}
.done {
    display:none;
}
.error input,input.error,.error textarea,textarea.error {
    background-color:inherit;
    border-bottom:1px dashed red !Important;
    -webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s,box-shadow linear 0.2s;
    -o-transition:border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}
/* =========================================================== */
/* Services /* ============================================================== */
.services {
    margin-top:25px;
}
.services h2 {
    font-size:17px;
    line-height:1.2;
    font-family:open_sansbold;
    margin-top:5px;
}
.services i {
    margin-right:7px;
}
.grey-box {
    background:#Fff;
    padding:20px;
    text-align:center;
    margin-bottom:15px;
}
.grey-box .contact-number {
    font-size:24px;
    font-weight:bold;
    color:#1192d3;
}
.grey-box-icon {
    text-align:center;
    position:relative;
}
.grey-box-icon:hover .fontawesome-icon.circle-white {
    background-color:#f6f6f6;
    color:#fff;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.grey-box-icon-pos {
}
.fontawesome-icon.medium.circle-center,.fontawesome-icon.medium.circle-white {
    width:80px;
    height:80px;
    line-height:80px;
    display:inline-block;
}
.fontawesome-icon.medium {
    font-size:48px;
}
.fontawesome-icon.circle-white {
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    border-radius:75px;
    background-color:white;
    color:#4cc3be;
    text-align:center;
    margin-bottom:5px;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white {
    background-color:#e7402f;
    color: #fff;
}
/* =========================================================== */
/* Carousel /* ============================================================== */
.list_carousel {
    margin-left:-10px;
    clear:both;
}
.list_carousel ul {
    margin:0;
    padding:0;
    list-style:none;
    display:block;
}
.list_carousel li {
    max-width:100%;
    display:block;
    float:left;
    margin-left:10px;
    cursor:default !important;
    height:auto;
}
.list_carousel.responsive {
    width:auto;
    margin-left:-10px;
}
.clearfix {
    float:none;
    clear:both;
}
.list_carousel .carousel_nav {
    position:relative;
    margin-top:-43px;
    background:#fff;
    padding-left:5px;
    float:right;
    padding-right:4px;
}
a.prev,a.next {
    background:url(../img/carousel_arrows.png) no-repeat #e7402f;
    width:24px;
    height:24px;
    display:block;
    position:relative;
    float:left;
    margin-left:3px;
    -webkit-background-clip:padding-box;
    /* for Safari */background-clip:padding-box;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
a.prev:hover,a.next:hover {
    background-color:#444;
}
a.prev {
    background-position:-2px 0
}
a.prev.disabled {
    background-color:#555
}
a.next {
    background-position:-22px 0
}
a.next.disabled {
    background-color:#555
}
a.prev.disabled,a.next.disabled {
    cursor:default
}
a.prev span,a.next span {
    display:none
}
.pager {
    float:left;
    width:300px;
    text-align:center;
}
.pager a {
    margin:0 5px;
    text-decoration:none;
}
.pager a.selected {
    text-decoration:underline
}
.timer {
    background-color:#999;
    height:6px;
    width:0px;
}
.testimonials .list_carousel li {
    width:330px
}
.carousel-content {
    float:left;
    width:100%;
}
.featured-projects {
    background:#fff;
    font-size:12px;
    -moz-box-shadow:0 1px 3px rgba(34,25,25,0.4);
    text-align:center;
    overflow:hidden;
    position:relative;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    border:1px solid #eee;
}
.featured-projects:hover {
}
.featured-projects-image {
    padding:0px
}
.featured-projects-image img {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
.featured-projects-image a {
    display:block
}
.featured-projects-content {
    padding:0 10px
}
.featured-projects-content p {
    margin-bottom:10px
}
.featured-projects-content h1 {
    font-size:13px;
    line-height:1;
    font-weight:bold;
}
.featured-projects-content h1 a {
    padding-bottom:10px;
    border-bottom:1px solid #eee;
    display:block;
    color:#222;
}
.small {
    font-size:12px
}
.grayimage {
    filter:url("data:image/svg+xml;nowhitespace:afterproperty;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+,Firefox on Android */ filter:gray;
    /* IE6-9 */ -webkit-filter:grayscale(100%);
    /* Chrome 19+,Safari 6+,Safari 6+iOS */
}
.imgproject {
    float:left;
    margin-right: 20px;
}
/* =========================================================== */
/* Team /* ============================================================== */
.titleborder div {
    display:inline-block;
    background-color:#fff;
    padding:1px 12px;
    position:relative;
}
.titleborder div {
    color:#787C81;
    font-size:18px;
    top:14px;
    padding-left:0 !important;
    font-family:open_sansbold;
    text-transform:uppercase;
}
.titleborder {
    position:relative;
    border-bottom:medium double #f6f6f6;
    margin-bottom:30px;
}
.thumbnail {
    border:1px solid #f3f3f3;
    font-size:13px;
    background:#fff;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    padding:0px;
    border-bottom:medium double #ddd;
    text-align:center;
    line-height:25px;
}
.thumbnail h4 {
    font-size:16px;
    line-height:0.5;
    margin-top:20px;
}
.thumbnail .caption {
    color:#888;
    padding:10px 20px 15px;
    background:#f7f7f7;
}
.thumbnail .caption span {
}
.thumbnail img {
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}
.thumbnail img:hover {
    filter:blur(2px);
    -webkit-filter:blur(2px);
    -moz-filter:blur(2px);
    -o-filter:blur(2px);
    -ms-filter:blur(2px);
}
.iconmargin {
    margin-right:5px;
}
.btn,.btn:hover {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.btn-primary {
    background-color:#e7402f;
}
.btn-primary:hover {
    background-color: #444;
}
/* =========================================================== */
/* Accordion/* ============================================================== */
.accordion,.toggle {
}
.accordion h3,.toggle h3 {
    padding:10px 11px;
    font-size:15px;
    margin:0 0 3px 0;
    line-height:18px;
    color:#606060;
    cursor:pointer;
    position:relative;
    text-transform:none;
    background:#fcfcfa;
    transition:all 300ms ease 0s;
    -webkit-transition:all 300ms ease 0s;
    border-bottom:1px solid #f1f1f1;
}
.accordion h3 span,.toggle h3 span {
    line-height:18px;
    display:block;
    padding:0 0 0 17px;
    background:url(../img/acplus.png) no-repeat left top;
    text-transform:uppercase;
}
.accordion h3.active,.toggle h3.active,.accordion h3:hover,.toggle h3:hover {
    background:#444;
    color:#eee;
}
.accordion h3.active span,.toggle h3.active span {
    background:url(../img/acplus.png) no-repeat left top;
}
.accordion h3:hover span,.toggle h3:hover span {
    background:url(../img/acminus.png) no-repeat left top !important;
}
.accordion h3.active span {
    background:url(../img/acminus.png) no-repeat left top !important;
}
.accordion .accord_cont,.toggle .toggle_cont {
    padding:5px 0 2px 0;
    display: none;
}
/* =========================================================== */
/* Recent Posts /* ============================================================== */
.recent-posts h4 {
    font-size:15px;
    line-height:1.4;
}
.recent-posts h4 a {
    color:#333;
}
.date {
    float:left;
    margin-right:10px;
    margin-top:8px;
    text-align:center;
}
article .day {
    background:#e7402f;
    color:#fff;
    display:block;
    font-size:16px;
    padding:6px;
    margin-bottom:0;
}
.month {
    -moz-border-radius:0 0 2px 2px;
    -moz-box-shadow:0 -1px 0 0 rgba(0,0,0,0.07) inset;
    -webkit-border-radius:0 0 2px 2px;
    -webkit-box-shadow:0 -1px 0 0 rgba(0,0,0,0.07) inset;
    background:#444;
    border-radius:0 0 2px 2px;
    box-shadow:0 -1px 0 0 rgba(0,0,0,0.07) inset;
    color:#FFFFFF;
    font-size:0.9em;
    padding:1px 10px 1px;
    margin-top:-4px;
    display: inline-block;
}
/* =========================================================== */
/* Skills /* ============================================================== */
ul#skill {
    list-style:none;
    margin-left:0;
    padding:0;
}
#skill {
    list-style:none;
    font-size:12px;
    position:relative;
    line-height:2em;
}
#skill li {
    margin-bottom:25px;
    height:40px;
    background:#f5f5f5;
}
#skill li:last-child {
    margin-bottom:0px;
}
#skill li h3 {
    position:relative;
    font-size:14px;
    color:#fff;
    padding-left:10px;
    font-weight:normal;
    margin-top:0;
    display:inline;
    line-height:40px;
}
#skill i {
    color:#fff;
    margin-left:-13px;
    margin-right:10px;
    height:40px;
    width:40px;
    display:inline-block;
    line-height:40px;
    text-align:center;
}
.thebar {
    height:40px;
    position:absolute;
    width:100%;
}
.progressdefault {
    background-color:#444;
}
.progresspink {
    background-color:#f674a4
}
.progressorange {
    background:orange
}
.progressgreen {
    background-color:#a1ce5b
}
.progressblue {
    background-color:#0E8FAB
}
.progress {
    height:35px;
    margin-bottom:20px;
    overflow:hidden;
    background-color:#f5f5f5;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.accordion-heading,.accordion-inner {
    border:1px solid #eee;
    padding:10px;
}
.accordion-heading {
    margin-bottom:10px;
}
.accordion-inner {
    margin-top:-10px;
    margin-bottom:10px;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    background-color:#444;
    border-color:#444;
}
.pagination>li>a,.pagination>li>span {
    color: #333;
}
/* =========================================================== */
/* Box Shadow Effects /* ============================================================== */
.box {
    background:#f7f7f7;
    padding: 22px;
}
/*================================================== * Effect 1 * ===============================================*/
.effect1 {
    -webkit-box-shadow:0 10px 6px -6px #777;
    -moz-box-shadow:0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
/*================================================== * Effect 2 * ===============================================*/
.effect2 {
    position:relative;
}
.effect2:before,.effect2:after {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    left:10px;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 15px 10px #777;
    -moz-box-shadow:0 15px 10px #777;
    box-shadow:0 15px 10px #777;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
.effect2:after {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    transform:rotate(3deg);
    right:10px;
    left: auto;
}
/*================================================== * Effect 3 * ===============================================*/
.effect3 {
    position:relative;
}
.effect3:before {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    left:10px;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 15px 10px #777;
    -moz-box-shadow:0 15px 10px #777;
    box-shadow:0 15px 10px #777;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    transform: rotate(-3deg);
}
/*================================================== * Effect 4 * ===============================================*/
.effect4 {
    position:relative;
}
.effect4:after {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    right:10px;
    left:auto;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 15px 10px #777;
    -moz-box-shadow:0 15px 10px #777;
    box-shadow:0 15px 10px #777;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    transform: rotate(3deg);
}
/*================================================== * Effect 5 * ===============================================*/
.effect5 {
    position:relative;
}
.effect5:before,.effect5:after {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:25px;
    left:10px;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 35px 20px #777;
    -moz-box-shadow:0 35px 20px #777;
    box-shadow:0 35px 20px #777;
    -webkit-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg);
    -o-transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    transform:rotate(-8deg);
}
.effect5:after {
    -webkit-transform:rotate(8deg);
    -moz-transform:rotate(8deg);
    -o-transform:rotate(8deg);
    -ms-transform:rotate(8deg);
    transform:rotate(8deg);
    right:10px;
    left: auto;
}
/*================================================== * Effect 6 * ===============================================*/
.effect6 {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.effect6:before,.effect6:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
/*================================================== * Effect 7 * ===============================================*/
.effect7 {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.effect7:before,.effect7:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
/*================================================== * Effect 8 * ===============================================*/
.effect8 {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.effect8:before,.effect8:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.box {
    margin:0px auto;
    margin-bottom:30px;
}
.box h3 {
    text-align:center;
    font-size:20px;
    margin-top: 0;
}
/*================================================== * Service Boxes* ===============================================*/
.service-box,.service-box i,.service-box p,.service-box h3 {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.service-box {
    background:#f5f5f5;
    padding:18px 29px;
    border-radius:4px;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.05);
    border-radius:3px;
    text-align:center;
    color:#888;
    margin-bottom:15px;
}

.service-box p {
    margin-top:20px;
}
.service-box i {
    font-size:80px;
    height:80px;
    color:#666;
    margin:10px 0;
    display:inline;
}
.service-box:hover,.service-box:hover h3 {
    color:#fff;
}
.service-box:hover i {
    color:#e7402f;
}
.service-box:hover p {
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition:none;
    color:#fff;
}
.service-box:hover {
    background:#e7402f;
}
.service-box h3 {
    font-size:16px;
}
.circleicon {
    width:105px;
    height:105px;
    border-radius:50%;
    background:#fff;
    margin:0px auto;
    margin-bottom:15px;
    margin-top:15px;
}
.circleicon i {
    font-size:60px;
    line-height:105px;
}
.service-box.featured {
    background:#e7402f;
    color:#fff;
}
.service-box.featured h3 {
    color:#fff;
}
.service-box.featured .circleicon i {
    color:#e7402f;
}
.service-box.featured:hover .circleicon i {
    color:#666;
}
.service-box.black {
    background:#333;
    color:#fff;
}
.service-box.black h3 {
    color:#fff;
}
.service-box.black .circleicon i {
    color:#e7402f;
}
.service-box.black:hover .circleicon i {
    color: #444;
}
/*================================================== * Flexslider* ===============================================*/
/* * jQuery FlexSlider v2.0 * http://www.woothemes.com/flexslider/
* * Copyright 2012 WooThemes * Free to use under the GPLv2 license. * http://www.gnu.org/licenses/gpl-2.0.html * * Contributing author:Tyler Smith (@mbmufffin) */
/* Browser Resets */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline:none;
}
.slides,.flex-control-nav,.flex-direction-nav {
    margin:0;
    padding:0;
    list-style:none;
}
/* FlexSlider Necessary Styles*********************************/ .flexslider {
    margin:0;
    padding:0;
}
.flexslider .slides>li {
    display:none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width:49%;    
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
html[xmlns] .slides {
    display:block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script,such as Modernizr,make sure you * include js that eliminates this class on page load */
.no-js .slides>li:first-child {
    display: block;
}
/* FlexSlider Default Theme*********************************/
.flexslider.project {
}
.flexslider {
    margin:0 0 0px;
    position:relative;
    zoom:1;
    color:#fff;
}
.flexslider h1 {
    color:#fff;
    text-shadow:2px 4px 3px rgba(0,0,0,0.3);
    text-shadow:horizontal-offset vertical-offset blur color;
}
.flex-viewport {
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease;
}
.loading .flex-viewport {
    max-height:300px;
}
.flexslider .slides {
    zoom:1;
}
.carousel li {
    margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav {
    *height:0;
}
.flex-direction-nav a {
    width:30px;
    height:34px;
    margin:-20px 0 0;
    display:block;
    background:url(../img/bg_direction_nav.png) no-repeat 0 0;
    position:absolute;
    top:50%;
    z-index:10;
    cursor:pointer;
    text-indent:-9999px;
    opacity:0;
    -webkit-transition:all .3s ease;
}
.flex-direction-nav .flex-next {
    background-position:100% 0;
    right:-36px;
}
.flex-direction-nav .flex-prev {
    left:-36px;
}
.flexslider:hover .flex-next {
    opacity:0.8;
    right:5px;
}
.flexslider:hover .flex-prev {
    opacity:0.8;
    left:5px;
}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {
    opacity:1;
}
.flex-direction-nav .flex-disabled {
    opacity:.3!important;
    filter:alpha(opacity=30);
    cursor: default;
}
/* Control Nav */
.flex-control-nav {
    width:100%;
    position:absolute;
    bottom:-40px;
    text-align:center;
}
.flex-control-nav li {
    margin:0 6px;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.flex-control-paging li a {
    width:15px;
    height:15px;
    display:block;
    background:#eee;
    cursor:pointer;
    text-indent:-9999px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
    background:#fff;
}
.flex-control-paging li a.flex-active {
    background:#fff;
    cursor:default;
}
.flex-control-thumbs {
    margin:5px 0 0;
    position:static;
    overflow:hidden;
}
.flex-control-thumbs li {
    width:25%;
    float:left;
    margin:0;
}
.flex-control-thumbs img {
    width:100%;
    display:block;
    opacity:.7;
    cursor:pointer;
}
.flex-control-thumbs img:hover {
    opacity:1;
}
.flex-control-thumbs .flex-active {
    opacity:1;
    cursor:default;
}
@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev {
        opacity:1;
        left:0;
    }
    .flex-direction-nav .flex-next {
        opacity:1;
        right: 0;
    }
}
/*================================================== * Panels* ===============================================*/
.panel h1,.panel1 h1 {
    font-size:18px;
    font-family:RalewayRegular;
    margin-top:0;
    line-height:24px;
}
.panel ul,.panel1 ul {
    margin-left:55px;
    list-style:square;
}
.panel,.panel1 {
    padding:20px;
    background-color:#f7f7f7;
    border-left:8px solid #e7402f;
    position:relative;
    margin-bottom:15px;
    box-shadow:none;
    border:0;
    border-radius:0;
}
.panel1:after {
    z-index:-1;
    position:absolute;
    content:"";
    bottom:15px;
    left:10px;
    width:50%;
    top:80%;
    max-width:300px;
    background:#777;
    -webkit-box-shadow:0 15px 10px #777;
    -moz-box-shadow:0 15px 10px #777;
    box-shadow:0 15px 10px #777;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
.panel1:after {
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    transform:rotate(3deg);
    right:10px;
    left:auto;
    clear:both;
    float: none;
}
/*================================================== * Info Boxes* ===============================================*/
.info-box {
    background:#EEEEEE !important;
    border:1px solid #e4e4e4;
    padding:6px;
    margin-bottom:15px;
}
.info-box-inner {
    background-image:linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-o-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-moz-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-webkit-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-ms-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #e4e4e4;
    padding:25px;
    background:#fff;
}
.info-box p {
    margin:0;
}
.info-box h4 {
    font-size:20px;
    line-height:26px;
    margin:0;
}
.info-box a {
    margin:0;
}
.info-content {
    float: left;
}
/*info-box-2*/
.info-box-2 {
    margin:0 0 10px 0;
}
.info-box-inner-2 {
    background-image:linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-o-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-moz-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-webkit-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    background-image:-ms-linear-gradient(bottom,#fafafa 0%,#fff 100%);
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    border-top:0 none;
    border-right:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    padding:17px;
}
.info-box-2 p {
    margin:0;
}
.info-box-2 h4 {
    color:#2778C8;
    font-size:24px;
    line-height:26px;
    margin:0;
}
.info-box-2 a {
    margin:6px 0 0;
}
.info-content-2 {
    float: left;
}
/*================================================== * FAQ* ===============================================*/
.faqs dl {
    margin-bottom:20px
}
.faqs dl,.faqs dt,.faqs dd {
    padding:0;
    margin:0;
}
.faqs {
    padding-top:20px;
    padding-top:20px;
    border:1px solid #eee;
    padding:20px;
    border-top:0px;
    margin-top:10px;
}
.faqstitle {
    color:#333;
    font-size:15px;
    padding-bottom:20px;
    line-height:0;
    padding-top:20px;
    background:#f7f7f7;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:-18px;
    border:1px solid #f1f1f1;
}
.faqs dt {
    font-size:13px;
    background:url(../img/plus.png) 0 4px no-repeat;
    padding:3px 0 10px 30px;
    position:relative;
    font-weight:normal;
}
.faqs dt:hover {
    cursor:pointer
}
.faqs dd {
    padding:0 0 5px 30px;
    position:relative;
    line-height:1.8;
}
.faqs .hover {
    color:#0E8FAB
}
.faqsicon {
    float:left;
    margin-top:-9px !Important;
    padding-right:10px;
    font-size:18px;
}
.well {
    background-color:#fafafa;
    border:1px solid #f0f0f0;
}
.nav>li>a:hover,.nav>li>a:focus {
    background-color: #fafafa;
}
/*================================================== * Blog* ===============================================*/
#animatedboxes-widget-2 {
    overflow:hidden;
}
.widget-title,.widgettitle {
    background:url(../img/dots.gif) repeat-x scroll 0 0 transparent;
    background-position:center;
    min-height:0;
    padding-bottom:50px;
    font-size:14px;
    color:#333;
    text-transform:uppercase;
    font-weight:bolder;
    margin:15px 0 -15px;
}
.comment-content,.reply {
    margin-left:58px;
}
.boxblog {
    border:1px solid #eee;
    margin-bottom:20px;
    min-height:290px;
    position:relative;
    padding:5px 10px;
    word-wrap:break-word;
}
.boxblog h5 {
    line-height:1.6;
}
.datepost {
    border-bottom:1px dashed #ddd;
    padding-bottom:10px;
}
.continue {
    font-family:DroidSansBold;
    margin-top:-5px;
    display:inline
}
a.tagcloud,.tagcloud a {
    text-transform:capitalize;
    color:#fff !Important;
    display:inline;
    font-size:13px!important;
    margin:0 10px 15px 0;
    padding:0 10px 2px;
    font-style:italic;
    background:#333;
}
a.tagcloud:hover,.tagcloud a:hover {
    background:#e7402f
}
.thumb,.attachment-thumbnail {
    width:60px;
    height:55px;
    border:1px solid #ddd;
    float:left;
    margin-right:10px;
    margin-bottom:1px;
    margin-top:5px;
    padding:4px
}
.circledate {
    margin-left:-100px;
    color:#fff;
    background:url(../img/blackcircle.png) no-repeat;
    width:80px;
    height:80px;
    float:left;
    margin-bottom:1px;
    margin-top:1px;
    padding:2px
}
.textcircle {
    font-size:11px;
    font-family:DroidSansRegular;
    margin-top:8px;
    margin-left:-3px;
    text-align:center;
    color:#DDD;
}
.day {
    margin-bottom:10px
}
.aligncenter {
    text-align:center;
    width:100%!important
}
.alignleft {
    text-align:left;
    width:100%!important
}
.entry-meta {
    color:#878787;
    font-size:11px;
    line-height:20px;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    margin:10px 0 20px;
    padding:7px 0 7px
}
.entry-meta li {
    list-style:none;
    margin:0
}
.post-format {
    background-color:#ddd;
    background-image:url(../img/blog-icons/icon-post-format-standard.png);
    background-repeat:no-repeat;
    background-position:50% 50%;
    color:#959393;
    display:inline-block;
    height:40px;
    text-align:left;
    text-indent:-9999px;
    width:40px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin:0 0 10px
}
.post-date {
    height:auto;
    float:left;
    text-align:center;
    margin-right:20px;
    margin-bottom:15px;
    display:block;
    background:#9dcedf;
    text-shadow:0 1px #81bcd1;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border:4pt solid #FFF;
    -moz-box-shadow:0 0 3px #b7b7b7;
    -webkit-box-shadow:0 0 3px #b7b7b7;
    box-shadow:0 0 3px #b7b7b7;
    padding:10px 30px
}
.post-month {
    display:block;
    color:#FFF
}
.post-day {
    font-size:36px;
    color:#FFF;
    margin:10px 0 15px
}
.post-year {
    background:url(../img/mdivider.png) top repeat-x;
    color:#FFF;
    padding:10px 0 0
}
.post-intro {
    float:left;
    width:615px
}
.entry-body {
    float:left;
    width:555px;
    margin:10px 0 0
}
.continueread a {
    font-size:11px;
    background:url(../img/readmore.png) left bottom no-repeat;
    padding-left:15px;
    -webkit-transition:all .2s ease,top 0 linear;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -ms-transition:all .2s ease;
    transition:all .2s ease;
    color:#666
}
.continueread a:hover {
    background:url(../img/readmore.png) left top no-repeat
}
#sidebar_right {
    margin-top:10px;
}
.sidebarBox {
    margin-bottom:20px
}
.sidebarBox:after {
    clear:both;
    float:none;
}
.widget {
    clear:both;
    margin-bottom:20px
}
.tab-content {
    margin-top:20px;
}
.widget ul li {
    list-style:none;
    display:block;
    margin:0;
    padding:5px 0 0
}
.comments {
    float:right;
    font-size:11px;
    font-weight:400;
    color:#888;
    margin-top:10px
}
.gravatar {
    margin-right:20px;
    float:left
}
.commentdate {
    margin-bottom:7px;
    color:#aaa;
    font-size:13px
}
ol.commentlist {
    margin-top:10px;
    margin-bottom:20px
}
.commentlist ol li {
    border-bottom:1px solid #ddd
}
.commentlist li {
    position:relative;
    clear:both;
    list-style-type:none;
    border-bottom:1px solid #eee;
    padding:11px 10px
}
.commentlist li[class*=depth-] {
    padding-left:20px;
    margin-top:17px
}
.commentlist li.depth-1 {
    margin-top:1px
}
.commentlist li:not(.depth-1) {
    margin-right:-10px
}
.commentlist .vcard {
    margin-left:45px;
    margin-bottom:5px
}
.commentlist .vcard cite.fn {
    font-weight:700;
    font-style:normal
}
.commentlist .vcard time {
    float:none;
    background:none;
    width:auto;
    margin-top:auto;
    text-shadow:1px 1px #fff;
    color:#666;
    text-transform:lowercase
}
.commentlist .vcard time a {
    color:#999;
    text-decoration:none
}
.commentlist .vcard img.avatar {
    box-shadow:rgba(135,139,144,0.4) 0 2px 3px;
    position:absolute;
    left:0;
    background:#FFF;
    border:0 solid #ddd;
    width:50px;
    padding:3px
}
.commentlist li .comment_content {
    margin-left:40px
}
.commentlist li .comment_content p {
    margin:15px 0
}
.commentlist li ul {
    margin:0 0 0 45px
}
.commentlist li ul.children li {
    border:none;
    border-top:1px solid #eee;
    padding-bottom:4px
}
.commentlist .comment-reply-link {
    background:#f1f1f1;
    margin-left:45px;
    text-decoration:none;
    color:#666;
    font-size:11px;
    text-transform:uppercase;
    padding:5px
}
.commentscount {
    padding-left:28px;
    height:30px;
    display:inline-block
}
.comment-content p {
    margin-bottom:5px
}
.comment-awaiting-moderation {
    font-size:11px;
    margin-left:43px;
    font-style:normal;
    color:red
}
.size-full,.size-large,.size-medium,.size-thumbnail {
    -webkit-transition:all 400ms linear;
    -moz-transition:all 400ms linear;
    -o-transition:all 400ms linear;
    -ms-transition:all 400ms linear;
    transition:all 400ms linear
}
.posttitledivider {
    background:url(../img/dots.gif) repeat-x;
    height:10px;
    margin:5px 0 10px
}
.entry-date {
    color:#aaa
}
.bordercomment {
    margin-top:-15px;
    width:28.5%
}
.page-template-sidebar-page-php #respond {
    width:auto
}
.comments-title {
    color:#222;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    border-bottom:1px solid #EEE;
    padding-bottom:10px
}
#commentform label {
    display:block;
    color:#666;
    font-weight:700;
    font-family:Helvetica
}
#commentform input[type=text],#commentform input[type=password],#commentform input[type=email],#commentform input[type=url],#commentform input.text,#commentform input.title,#commentform textarea,#commentform select {
    background-color:#fff;
    border:1px solid #eee;
    font-size:12px;
    width:96%
}
#commentform input[type=text]:focus,#commentform input[type=password]:focus,#commentform input[type=email]:focus,#commentform input[type=url]:focus,#commentform input.text:focus,#commentform input.title:focus,#commentform textarea:focus,#commentform select:focus {
    outline:0;
    border-color:#c2c2c2
}
#commentform input[type=text],#commentform input[type=password],#commentform input[type=email],#commentform input.text,#commentform input.title,#commentform textarea,#commentform select {
    margin:5px 0
}
#commentform textarea {
    width:99%;
    height:180px;
    resize:none
}
#commentform input#submit {
    background:#333;
    border:0;
    color:#FFF;
    font-weight:700;
    text-transform:uppercase;
    font-size:11px;
    padding:7px 15px
}
#commentform input#submit:hover {
    background:#111;
    color:#fff;
    cursor:pointer;
    -webkit-transition:background-color 300ms linear;
    -moz-transition:background-color 300ms linear;
    -o-transition:background-color 300ms linear;
    -ms-transition:background-color 300ms linear;
    transition:background-color 300ms linear
}
#comment-form-title {
    text-transform:uppercase;
    border-bottom:1px solid #ddd;
    width:96.5%;
    padding-bottom:10px;
}
#authorbox {
    overflow:hidden;
    margin:0 auto 20px;
    padding:5px 0
}
#authorbox h4 {
    font-size:16px;
    margin:0;
    padding:10px;
    color:#444;
}
#authorbox h4 a {
    color:#444;
    text-transform:uppercase;
}
.authortext {
    padding-left:90px
}
#authorbox img {
    float:left;
    background:#fff;
    width:45px;
    height:45px;
    border:1px solid #999;
    border-radius:50%;
    box-shadow:0 1px 1px 1px #bbb;
    margin:28px 10px 10px 10px;
    padding:12px
}
#authorbox p {
    margin:0;
    padding:0 10px 10px
}
.widget_archive select {
    border:1px solid #DDD;
    color:#333;
    background:#F8f8f8;
    padding:5px
}
.sticky {
    background:#f6f6f6
}
.commentstitle,#reply-title {
    padding-top:10px;
    font-size:15px;
    padding-bottom:3px;
    text-transform:uppercase;
    width:96.5%
}
li.comment {
    list-style:none;
}
.post-edit-link {
    color:red;
    font-weight:700;
    clear:both;
}
.smoothborder {
    border:1px solid #CCC!important
}
.blogstyle {
    padding:22px 50px 23px!important
}
.blogimage {
    width:99.9%
}
.blogdots {
    margin-top:-5px;
    margin-bottom:10px
}
#commentform {
    margin-top: 15px;
}
/* Widget-Tabbed*/
.multi-sidebar a {
    color:#777;
}
.multi-sidebar li {
    margin-bottom:15px;
}
.multi-sidebar-container {
    margin-bottom:-20px;
}
.hide,.ui-tabs-hide {
    display:none;
}
.multi-sidebar .tabs {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    border-bottom:1px solid #ddd;
}
.multi-sidebar .tabs li {
    float:left;
    margin:0 .25em -0.20px 0;
}
.multi-sidebar .widget {
    margin:0 0 1.5em;
    padding:1em 0;
    border-top:0px;
}
.multi-sidebar .widget ul,ul.featured-stories,ul.related-posts {
    list-style:none;
    margin:0;
}
.multi-sidebar .widget li,.featured-stories li,.related-posts li {
    border-bottom:1px dotted #ddd;
    padding:0 0 .75em;
    margin:0 0 .75em;
    clear:both;
}
.multi-sidebar .entry-thumbnail,.featured-stories .entry-thumbnail {
    float:left;
    margin:0;
    padding:2px;
    line-height:1;
}
.multi-sidebar .entry-thumbnail img,.multi-sidebar .recentcomments .avatar img,.featured-stories .entry-thumbnail img {
    margin-bottom:20px;
    width:50px;
    height:40px;
    float:none;
}
.multi-sidebar .recentcomments .avatar {
    float:left;
    border:1px solid #CCC;
    margin:0 10px 0 0;
    background:#FFF;
    padding:2px;
    line-height:1;
}
.multi-sidebar .recentcomments .avatar img {
    width:36px;
    height:auto;
}
.multi-sidebar .tabs a:link,.multi-sidebar .tabs a:visited {
    font-size:90%;
    font-weight:700;
    color:#7A7A7A;
    text-decoration:none;
    padding:.5em .6em .6em;
    display:block;
    text-transform:uppercase;
}
.multi-sidebar .tabs a:hover {
    color:#3c9091;
}
.multi-sidebar .tabs .ui-tabs-selected a {
    border-bottom:2px solid #3c9091;
}
.multi-sidebar .tabs .ui-tabs-selected a:link,.multi-sidebar .tabs .ui-tabs-selected a:visited {
    color:#666;
}
.multi-sidebar .entry-author {
    color:#666;
    font-size:90%;
}
.ui-tabs-active {
    border-bottom:2px solid #3C9091;
}
.sectiontitlepost {
    min-height:20px;
    margin:0 0 20px
}
.sectiontitlepost h1 {
    font-size:23px;
    display:block;
    line-height: 28px;
}
/*================================================== * Testimonials* ===============================================*/
.testimonial {
    padding:20px 25px;
    background-color:#f9f9f9;
    /*Change colour here and in .arrow-down*/ float:left;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.testimonial h4 {
    font-size:15px;
    font-family:open_sansbold;
}
.author-wrapper {
    width:100%;
    float:left;
}
.arrow {
    float:left;
    margin-left:25px;
    width:0;
    height:0;
    border-top:30px solid #f9f9f9;
    border-left:30px solid transparent;
    border-right:0px solid transparent;
    border-bottom:0px;
}
.testimonial-name {
    float:left;
    margin:0 8px;
    color:#e7402f;
    padding-top:5px;
    font-size:13px;
}
.testimonial-name span {
    color:#555;
    font-weight:normal;
}
.hirefor {
    margin-bottom:10px
}
.avatarspic {
    border:1px solid #ddd;
    float:left;
    width:70px;
    height:70px;
    border-radius:50%;
    margin-right:15px;
}
blockquote p {
    line-height:inherit;
    font-size:14px;
    font-family:open_sanslight;
}
.elements h3 {
    font-family:open_sansbold;
    font-size: 18px;
}
/*================================================== * Isotope & Masonry* ===============================================*/
.isotope-item {
    z-index:2
}
.isotope-hidden.isotope-item {
    pointer-events:none;
    z-index:1;
}
.isotope,.isotope .isotope-item {
    /* change duration value to whatever you like */ -webkit-transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    transition-duration:0.8s;
}
.isotope {
    -webkit-transition-property:height,width;
    -moz-transition-property:height,width;
    transition-property:height,width;
}
.isotope .isotope-item {
    -webkit-transition-property:-webkit-transform,opacity;
    -moz-transition-property:-moz-transform,opacity;
    transition-property:transform,opacity;
}
#content {
    max-width:1000px;
    z-index:0;
    margin-left:-20px;
    overflow:hidden;
}
#filter1 ul {
    margin-left:0px;
    font-size:104%;
}
#filter1 {
    margin-top:5px;
}
#filter1 ul li {
    list-style:none;
    float:none;
    margin-right:15px;
    padding:5px 10px;
    margin-bottom:30px;
    background:#f5f5f5;
    display:inline-block;
    border-radius:3px;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
#filter1 ul li a {
    color:#787C81;
    margin-bottom:20px;
}
#filter1 ul li .selected {
    color:#e7402f !Important;
    text-decoration: none;
}
/* MASONRY */
.boxportfolio4 {
    float:left;
    width:22.90%;
    display:inline-block;
    margin-bottom:20px;
    position:relative;
    z-index:0;
    margin-left:20px;
}
.boxportfolio3 {
    float:left;
    display:inline-block;
    margin-bottom:20px;
    position:relative;
    z-index:0;
    width:31.23%;
    margin-left:20px;
}
.boxportfolio2 {
    float:left;
    margin-left:20px;
    width:47.90%;
    display:inline-block;
    margin-bottom:20px;
    position:relative;
    z-index:0;
}
.roll {
    position:absolute;
    font-size:30px;
    width:100%;
    margin:0px auto;
    height:100%;
    top:0px;
    display:table-cell;
    vertical-align:middle;
    background:#000;
    z-index:10;
    opacity:0;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:alpha(opacity=0);
    zoom:1;
}
.boxcontainer {
    border:1px solid #ededed;
    background:#fff;
    font-size:13px;
    text-align:center;
    transition:border 500ms ease-out;
    -webkit-transition:border 500ms ease-out;
    -moz-transition:border 500ms ease-out;
    -o-transition:border 500ms ease-out;
    border-bottom:medium double #ddd;
    position:relative;
    overflow:hidden;
}
.boxcontainer:hover {
    border-bottom:medium double #ccc;
}
.boxcontainer p {
    margin-bottom:10px;
    color:#666;
}
.boxcontainer h1 {
    font-size:13px;
    line-height:1;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
}
.boxcontainer h1 a {
    padding-bottom:10px;
    border-bottom:1px solid #eee;
    display:block;
    color:#666;
    line-height:20px;
}
.boxcontainer img {
    position:relative;
}
.wrapcaption {
    position:absolute;
    font-size:30px;
    background:transparent;
    width:100%;
    margin:0px auto;
    display:table-cell;
    vertical-align:middle;
    top:47%;
}
.captionicons {
    font-size:20px;
    padding:13px;
    background:#e7402f;
    margin-right:0px;
    border-radius:50%;
    color:#fff;
    position:relative;
    top:55%;
    vertical-align:middle;
    margin-top:0px;
    margin:0 auto;
}
.captionicons:hover {
    opacity:0.9;
}
.boxportfolio2 .captionicons {
    top: 57%;
}
/*================================================== * Pricing Tables* ===============================================*/
.vuzz-pricing-table {
    list-style:none;
    margin:0;
    padding:0;
    font-size:16px;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    transition:0.3s;
}
.vuzz-pricing-table div {
    list-style:none
}
.vuzz-pricing-table>div {
    border-top:#666;
    list-style:none;
    text-shadow:none;
    margin-bottom:0;
    border-top:#0E8FAB 3px solid;
    margin:0 10px;
}
.vuzz-pricing-table:hover {
    box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
    z-index:1;
}
.vuzz-pricing.popular {
    box-shadow:0 0 20px 0 rgba(0,0,0,0.4);
    z-index:1;
}
.vuzz-pricing-table .vuzz-pricing-header {
    text-align:center;
    padding:20px 0 0px;
}
.vuzz-pricing-table .vuzz-pricing-header h5 {
    color:#787C81;
    font-size:17px;
    margin:0;
    padding:0 20px 20px;
}
.vuzz-pricing-table .vuzz-pricing-cost {
    color:#fff;
    font-size:1.500em;
    line-height:1em;
    padding-top:20px;
    background:#666;
}
.vuzz-pricing-table .vuzz-pricing-per {
    font-size:0.786em;
    color:#fff;
    background:#666;
    padding-bottom:10px;
}
.vuzz-pricing-table .vuzz-pricing-content {
    background:#fff;
    font-size:0.857em;
    text-align:center;
}
.vuzz-pricing-table .vuzz-pricing-content ul {
    margin:0 !important;
    list-style:none !important;
}
.vuzz-pricing-table .vuzz-pricing-content ul li {
    margin:0 !important;
    padding:10px 20px !important;
    border-bottom:1px solid #eee;
    list-style:none !important;
}
.vuzz-pricing-table .vuzz-pricing-content ul li:nth-child(2n+2) {
    background:#F9F9F9
}
.vuzz-pricing-table .vuzz-pricing-button {
    background:#fff;
    text-align:center;
    border-top:1px solid #fff;
    padding:20px;
}
.vuzz-pricing-table .vuzz-pricing-button .vuzz-button {
    float:none;
    margin:0 auto;
    background:#787C81;
    color:#fff;
    padding:9px 15px;
    font-size:13px;
    border-radius:3px;
}

.vuzz-pricing-table .vuzz-pricing-button .vuzz-button:hover {
    float:none;
    margin:0 auto;
    background:#4cc3be;
    color:#fff;
    padding:9px 15px;
    font-size:13px;
    border-radius:3px;
}

.vuzz-pricing-table>div {
    border-top:white 0px solid;
}
.vuzz-pricing-table .vuzz-pricing-cost {
    background:#666;
}
.vuzz-pricing-table .vuzz-pricing-per {
    background:#666;
}
.vuzz-pricing-table>div.popular {
    border-top:#e7402f 3px solid;
}
.popular .vuzz-pricing-cost {
    background:#e7402f;
}
.popular .vuzz-pricing-per {
    background:#e7402f;
}
.popular .vuzz-button {
    background:#e7402f;
}
.popular .vuzz-button.buttonprice {
    background: #e7402f;
}
/*=============================================== * Colorful Boxes* ===============================================*/
.boxolive {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#EEF4D4;
    border:1px solid #8FAD3D;
    color:#596C26;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 25px;
}
.boxblue {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#E1EBEB;
    border:1px solid #A8C6C6;
    color:#555;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 20px;
}
.boxgreen {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#E9FFD2;
    border:1px solid #ACFF59;
    color:#596C26;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 25px;
}
.boxred {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#FCE2D4;
    border:1px solid #F1C0A8;
    color:#000;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 25px;
}
.boxgray {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#f5f5f5;
    border:1px solid #DDD;
    color:#596C26;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 25px;
}
.boxyellow {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#Fffdf3;
    border:1px solid #F2DFA4;
    color:#C4690E;
    display:block;
    margin-bottom:30px;
    padding:25px 25px 25px 25px;
}
.boxwhite {
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
    background:#fff;
    border:1px solid #e5e5e5;
    display:block;
    margin-bottom:30px;
    padding: 25px 25px 25px 25px;
}
/*=============================================== * Contact Form* ===============================================*/
#refresh {
    cursor:pointer;
}
#captcha {
    height:25px;
    margin-top:5px;
}
#after_submit {
    margin-top:20px;
}
label.error {
    color:#CC0000;
    font-size:12px;
    margin:0 0 10px;
    font-style:italic;
    width:200px;
}
label.success {
    color:#009900;
    font-size:12px;
    margin:0 0 10px;
    font-style:italic;
    width:200px;
}
.gmap {
    background:white;
    border:1px solid #eee;
    padding:4px;
    margin-bottom: 15px;
}
/*=============================================== * Fade Effects* ===============================================*/
.flexslider .slides img,.textItem,.services h2,.faqstitle,.testimonial h4,.hero-unit,.sectiontitlepost h1,#filter ul li {
    animation:fadein 2s;
    -moz-animation:fadein 2s;
    /* Firefox */
    -webkit-animation:fadein 2s;
    /* Safari and Chrome */
    -o-animation:fadein 2s;
    /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
​/*=============================================== * Spaces* ===============================================*/
.heightauto {
    height:auto !Important;
}
.top0 {
    margin-top:0px;
}
.bottom0 {
    margin-bottom:0px;
}
.bottom15 {
    margin-bottom:15px;
}
.bottom25 {
    margin-bottom:25px;
}
.left0 {
    margin-left:0px !Important;
}
.left5 {
    margin-left:5px !Important;
}
.left10 {
    margin-left:10px !Important;
}
.top10 {
    margin-top:10px;
}
.top15 {
    margin-top:15px;
}
.top20 {
    margin-top:20px;
}
.top25 {
    margin-top:25px;
}
.top30 {
    margin-top:30px;
}
.top35 {
    margin-top:35px;
}
.top40 {
    margin-top: 40px;
}
/* ------------------------------------------------------------------Button styles------------------------------------------------------------------- */
.btn {
    display:inline-block;
    padding:10px 15px;
    background-color: #787C81
}
.btn.focus,.btn.active.focus,.btn.active:focus,.btn:active.focus,.btn:active:focus,.btn:focus {
    outline:0;
    background-color: #4cc3be
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    background-color: #787C81    
}

.btn.btn-round {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.btn.btn-circle {
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius: 30px;
}
/* Button colors */
.btn.btn-g {
    background:transparent;
    border:1px solid #b2b2b2;
    color:#666;
}
.btn.btn-g:hover,.btn.btn-g:focus {
    background:#b2b2b2;
    color:#fff;
}
.btn.btn-border-d {
    background:transparent;
    border:1px solid #000;
    color:#000;
}
.btn.btn-border-d:hover,.btn.btn-border-d:focus {
    background:#000;
    color:#fff;
}
.btn.btn-d {
    background:rgba(0,0,0,0.8);
    color:#fff;
}
.btn.btn-d:hover,.btn.btn-d:focus {
    background:#000;
    color: #fff;
}
/* Button sizes */
.btn.btn-lg {
    padding:12px 45px;
    font-size:13px;
}
.btn.btn-sm {
    padding:6px 25px;
    font-size:10px;
    letter-spacing:1px;
}
.btn.btn-xs {
    padding:4px 19px;
    font-size:10px;
    letter-spacing:0;
}
.btn-list .btn {
    margin:5px 0;
}
.btn-primary {
    border: 0;
}
/*=============================================== * RESPONSIVE * ===============================================*/
@media (max-width:992px) {
    form#search,.slidershadow {
        display:none;
    }
    .container {
        width:95%;
    }
    .footer .col-md-4 {
        margin-bottom:30px;
        margin-top:10px;
    }
    .footerdark input,.footerdark textarea,.footerdark input[type="text"] {
        width:100%;
    }
    .grey-box-icon {
        margin-bottom:20px;
    }
}
@media (max-width:767px) {
    .camera_caption {
        width:90% !Important;
    }
    .cameraContents .camera_caption div {
        margin-top:-60% !important;
    }
    .dl-horizontal dt {
        float:none;
        width:auto;
        clear:none;
        text-align:left;
    }
    .dl-horizontal dd {
        margin-left:0;
    }
    .thumbnails {
        margin-left:0;
    }
    .thumbnails>li {
        float:none;
        margin-left:0;
    }
    [class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"] {
        display:block;
        float:none;
        width:100%;
        margin-left:0;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .span12,.row-fluid .span12 {
        width:100%;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .row-fluid [class*="offset"]:first-child {
        margin-left:0;
    }
    .input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input {
        display:block;
        width:100%;
        min-height:30px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .input-prepend input,.input-append input,.input-prepend input[class*="span"],.input-append input[class*="span"] {
        display:inline-block;
        width:auto;
    }
    .controls-row [class*="span"]+[class*="span"] {
        margin-left:0;
    }
    .modal {
        position:fixed;
        top:20px;
        right:20px;
        left:20px;
        width:auto;
        margin:0;
    }
    .modal.fade {
        top:-100px;
    }
    .modal.fade.in {
        top:20px;
    }
}
@media (max-width:480px) {
    .cameraContents .camera_caption div {
        margin-top:-130% !important;
    }
    .nav-collapse {
        -webkit-transform:translate3d(0,0,0);
    }
    .page-header h1 small {
        display:block;
        line-height:20px;
    }
    input[type="checkbox"],input[type="radio"] {
        border:1px solid #ccc;
    }
    .form-horizontal .control-label {
        float:none;
        width:auto;
        padding-top:0;
        text-align:left;
    }
    .form-horizontal .controls {
        margin-left:0;
    }
    .form-horizontal .control-list {
        padding-top:0;
    }
    .form-horizontal .form-actions {
        padding-right:10px;
        padding-left:10px;
    }
    .media .pull-left,.media .pull-right {
        display:block;
        float:none;
        margin-bottom:10px;
    }
    .media-object {
        margin-right:0;
        margin-left:0;
    }
    .modal {
        top:10px;
        right:10px;
        left:10px;
    }
    .modal-header .close {
        padding:10px;
        margin:-10px;
    }
    .carousel-caption {
        position:static;
    }
}
@media (max-width:979px) {
    body {
        padding-top:0;
    }
    .navbar-fixed-top,.navbar-fixed-bottom {
        position:static;
    }
    .navbar-fixed-top {
        margin-bottom:20px;
    }
    .navbar-fixed-bottom {
        margin-top:20px;
    }
    .navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
        padding:5px;
    }
    .navbar .container {
        width:auto;
        padding:0;
    }
    .navbar .brand {
        padding-right:10px;
        padding-left:10px;
        margin:0 0 0 -5px;
    }
    .nav-collapse {
        clear:both;
    }
    .nav-collapse .nav {
        float:none;
        margin:0 0 10px;
    }
    .nav-collapse .nav>li {
        float:none;
    }
    .nav-collapse .nav>li>a {
        margin-bottom:2px;
    }
    .nav-collapse .nav>.divider-vertical {
        display:none;
    }
    .nav-collapse .nav .nav-header {
        color:#777777;
        text-shadow:none;
    }
    .nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a {
        padding:9px 15px;
        font-weight:bold;
        color:#777777;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
    }
    .nav-collapse .btn {
        padding:4px 10px 4px;
        font-weight:normal;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    }
    .nav-collapse .dropdown-menu li+li a {
        margin-bottom:2px;
    }
    .nav-collapse .nav>li>a:hover,.nav-collapse .nav>li>a:focus,.nav-collapse .dropdown-menu a:hover,.nav-collapse .dropdown-menu a:focus {
        background-color:#f2f2f2;
    }
    .navbar-inverse .nav-collapse .nav>li>a,.navbar-inverse .nav-collapse .dropdown-menu a {
        color:#999999;
    }
    .navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .nav>li>a:focus,.navbar-inverse .nav-collapse .dropdown-menu a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color:#111111;
    }
    .nav-collapse.in .btn-group {
        padding:0;
        margin-top:5px;
    }
    .nav-collapse .dropdown-menu {
        position:static;
        top:auto;
        left:auto;
        display:none;
        float:none;
        max-width:none;
        padding:0;
        margin:0 15px;
        background-color:transparent;
        border:none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
    }
    .nav-collapse .open>.dropdown-menu {
        display:block;
    }
    .nav-collapse .dropdown-menu:before,.nav-collapse .dropdown-menu:after {
        display:none;
    }
    .nav-collapse .dropdown-menu .divider {
        display:none;
    }
    .nav-collapse .nav>li>.dropdown-menu:before,.nav-collapse .nav>li>.dropdown-menu:after {
        display:none;
    }
    .nav-collapse .navbar-form,.nav-collapse .navbar-search {
        float:none;
        padding:10px 15px;
        margin:10px 0;
        border-top:1px solid #f2f2f2;
        border-bottom:1px solid #f2f2f2;
        -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
        -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
        box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-inverse .nav-collapse .navbar-form,.navbar-inverse .nav-collapse .navbar-search {
        border-top-color:#111111;
        border-bottom-color:#111111;
    }
    .navbar .nav-collapse .nav.pull-right {
        float:none;
        margin-left:0;
    }
    .nav-collapse,.nav-collapse.collapse {
        height:0;
        overflow:hidden;
    }
    .navbar .btn-navbar {
        display:block;
    }
    .navbar-static .navbar-inner {
        padding-right:10px;
        padding-left:10px;
    }
}
@media (min-width:980px) {
    .nav-collapse.collapse {
        height:auto !important;
        overflow:visible !important;
    }
}
@media (min-width:176px) and (max-width:1200px) {
    .graysection {
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right:0px;
        border-top:1px solid #f4f4f4;
        border-bottom:1px solid #f4f4f4;
        background:#fff;
    }
    body.boxed {
        padding:0px 25px;
        overflow:hidden;
    }
    body.boxed div.body {
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        box-shadow:none;
    }
}
@media (max-width:800px) {
    body.boxed div.body {
        margin-bottom:0px;
    }
    .footerbottom .smaller {
        font-size:70%;
        text-align:center;
    }
    .footerbottom .pull-right {
        float:none !Important;
        text-align:center;
    }
    #quotes {
        min-height:140px;
    }
    .camera_fakehover {
        min-height:400px;
    }
    .cameraContents .camera_caption h1 {
        font-size:14px;
    }
    .cameraContents .camera_caption span {
        font-size:12px;
    }
    .navbar-inner {
        background:#fff;
    }
    #search input,#search a {
        height:40px;
    }
    .thumbnail {
        margin-bottom:25px;
    }
    .slidershadow,.slidershadowcam {
        display:none;
    }
    .grey-box-icon {
        margin-bottom:25px;
    }
    .row-fluid .controls-row [class*="span"]+[class*="span"] {
        margin-left:0;
    }
    .boxportfolio2,.boxportfolio3,.boxportfolio4 {
        width:96%;
    }
    .page-header {
        margin-top:15px;
    }
    .headerdivider {
        margin-bottom:0px;
    }
}
@media (max-width:480px) {
    #switcher-handle {
        display:none;
    }
    body.boxed div.body {
        color:#000;
    }
    #quotes {
        height:140px;
    }
    .brandlogo {
        float:none;
        margin-top:20px;
    }
    .topinfo,.infophone,.infoaddress {
        text-align:left;
        font-size:11px;
    }
    .camera_caption {
        left:0;
        width:100%;
    }
    .navbar .divider-vertical {
        display:none !Important;
    }
    .camera_fakehover {
        min-height:330px;
    }
    .cameraContents .camera_caption h1 {
        font-size:14px;
    }
    .cameraContents .camera_caption span {
        font-size:12px;
    }
    .imgproject {
        float:none;
        margin-bottom:5px;
    }
    .intro h1 {
        font-size:20px;
        line-height:25px;
    }
    .lead {
        font-size:16px;
        line-height:24px;
    }
    .boxportfolio2,.boxportfolio3,.boxportfolio4 {
        width: 96%;
    }
}
/*=============================================== * YOUR OWN STYLES* ===============================================*/

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}